In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib as mpl
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_game_1 = pd.read_csv('curry/gsw_vs_denver_series_game1.csv')
df_game_1.head()

,Unnamed: 0,Time,Denver,Unnamed: 3,Score,Unnamed: 5,Golden State
0,2,12:00.0,Jump ball: N. Jokic vs. K. Looney (J. Green ga...,Jump ball: N. Jokic vs. K. Looney (J. Green ga...,Jump ball: N. Jokic vs. K. Looney (J. Green ga...,Jump ball: N. Jokic vs. K. Looney (J. Green ga...,Jump ball: N. Jokic vs. K. Looney (J. Green ga...
1,3,11:45.0,W. Barton misses 2-pt jump shot from 19 ft,NaN,0-0,NaN,NaN
2,4,11:43.0,NaN,NaN,0-0,NaN,Defensive rebound by K. Looney
3,5,11:30.0,NaN,NaN,0-0,NaN,A. Wiggins misses 3-pt jump shot from 27 ft
4,6,11:28.0,NaN,NaN,0-0,NaN,Offensive rebound by K. Looney

In [3]:
# df_game_1 = pd.read_csv('Dal_vs_suns_mid_season_game1.csv')
# df_game_2 = pd.read_csv('Dal_vs_suns_mid_season_game2.csv')
# df_game_3 = pd.read_csv('Dal_vs_suns_mid_season_game3.csv')

# df_game_1 = pd.read_csv('Bos_vs_Mil_mid_season_game1.csv')
# df_game_2 = pd.read_csv('Bos_vs_Mil_mid_season_game2.csv')
# df_game_3 = pd.read_csv('Bos_vs_Mil_mid_season_game3.csv')

df_game_1 = pd.read_csv('buks_vs_bulls_series_game1.csv')
df_game_2 = pd.read_csv('buks_vs_bulls_series_game2.csv')
df_game_3 = pd.read_csv('buks_vs_bulls_series_game3.csv')
df_game_4 = pd.read_csv('buks_vs_bulls_series_game4.csv')
df_game_5 = pd.read_csv('buks_vs_bulls_series_game5.csv')
# df_game_6 = pd.read_csv('curry/gsw_vs_mem_series_game6.csv')
# df_game_7 = pd.read_csv('Dallas_vs_jazz_series_game7.csv')

# df_game_1 = pd.read_csv('Suns_vs_peli_series_Game1.csv')
# df_game_2 = pd.read_csv('Suns_vs_peli_series_Game2.csv')
# df_game_3 = pd.read_csv('Suns_vs_peli_series_Game3.csv')
# df_game_4 = pd.read_csv('Suns_vs_peli_series_Game4.csv')
# df_game_5 = pd.read_csv('Suns_vs_peli_series_Game5.csv')
# df_game_6 = pd.read_csv('Suns_vs_peli_series_Game6.csv')
# df_game_7 = pd.read_csv('Suns_vs_peli_series_Game7.csv')
df_game_1.head()

,Unnamed: 0,Time,Chicago,Unnamed: 3,Score,Unnamed: 5,Milwaukee
0,2,12:00.0,Jump ball: N. Vucevic vs. B. Lopez (W. Matthew...,Jump ball: N. Vucevic vs. B. Lopez (W. Matthew...,Jump ball: N. Vucevic vs. B. Lopez (W. Matthew...,Jump ball: N. Vucevic vs. B. Lopez (W. Matthew...,Jump ball: N. Vucevic vs. B. Lopez (W. Matthew...
1,3,11:41.0,NaN,NaN,0-0,NaN,Shooting foul by A. Caruso (drawn by B. Lopez)
2,4,11:41.0,NaN,NaN,0-1,+1,B. Lopez makes free throw 1 of 2
3,5,11:41.0,NaN,NaN,0-2,+1,B. Lopez makes free throw 2 of 2
4,6,11:24.0,Z. LaVine misses 2-pt layup from 1 ft,NaN,0-2,NaN,NaN

In [80]:
df_game = df_game_5.copy()
del df_game['Unnamed: 0']
del df_game['Unnamed: 3']
del df_game['Unnamed: 5']

df_game.fillna('NA', inplace=True)
df_game = df_game.iloc[1: , :]

df_game['quarter'] = np.nan
# df_game['Series Game'] = 1
df_game['Series Game'] = 5

In [82]:
df_game.loc[df_game['Milwaukee'] == 'End of 1st quarter', 'quarter'] = 1
df_game.loc[df_game['Milwaukee'] == 'End of 2nd quarter', 'quarter'] = 2
df_game.loc[df_game['Milwaukee'] == 'End of 3rd quarter', 'quarter'] = 3
df_game.loc[df_game['Milwaukee'] == 'End of 4th quarter', 'quarter'] = 4

In [83]:
df_game.loc[0:df_game[df_game['quarter'] == 1].index[0]]['quarter'].fillna(1, inplace = True)
df_game.loc[df_game[df_game['quarter'] == 1].index[-1]:df_game[df_game['quarter'] == 2].index[0]]['quarter'].fillna(2, inplace = True)
df_game.loc[df_game[df_game['quarter'] == 2].index[-1]:df_game[df_game['quarter'] == 3].index[0]]['quarter'].fillna(3, inplace = True)
df_game['quarter'].fillna(4, inplace = True)

In [84]:
data_makes = df_game[df_game['Milwaukee'].str.contains('G. Antetokounmpo makes')][['Time', 'Milwaukee', 'Score', 'quarter', 'Series Game']]
data_makes.reset_index(inplace = True, drop = True)
data_makes.head()

,Time,Milwaukee,Score,quarter,Series Game
0,11:35.0,G. Antetokounmpo makes 2-pt dunk at rim,0-2,1.0,5
1,11:11.0,G. Antetokounmpo makes free throw 2 of 2,0-3,1.0,5
2,8:04.0,G. Antetokounmpo makes 2-pt layup from 1 ft (a...,4-8,1.0,5
3,6:56.0,G. Antetokounmpo makes 2-pt dunk from 3 ft (as...,7-12,1.0,5
4,3:03.0,G. Antetokounmpo makes 2-pt layup from 2 ft,10-25,1.0,5

In [87]:
# creating data for short mades
df_col_makes = pd.DataFrame(data_makes['Milwaukee'].str.split().tolist(), columns = ['Name1', 'Name2', 'misses/count', 'basket_type',
                                                               'short_type','Misc1', 'Misc2', 'short_range', 'Misc3', 'Assist',
                                                                  'Misc4', 'Misc5', 'Assist_by'])

concat_df_makes = pd.concat([data_makes, df_col_makes], axis = 1)
concat_df_makes['player_name'] = concat_df_makes['Name1'] + concat_df_makes['Name2']
concat_df_makes['player_team'] = 'Milwaukee'

## for assist and assist by
# concat_df_makes.loc[concat_df_makes['Assist_by'].isnull(), 'Assist_by'] = concat_df_makes['Misc5'] 
# concat_df_makes['Assist_by'] = concat_df_makes['Assist_by'].str.replace(')', ' ')

# concat_df_makes['Assist'] = concat_df_makes['Assist'].str.replace('(', ' ')
# concat_df_makes.loc[concat_df_makes['Assist'] == 'by', 'Assist'] = 'assist'

concat_df_makes.loc[concat_df_makes['short_range'] == 'ft', 'short_range'] = concat_df_makes['Misc2']
makes_final_df = concat_df_makes[['Time', 'player_name', 'player_team', 'Series Game', 'Score', 'quarter', 'basket_type', 'short_type',
                                   'short_range','misses/count']]#,# 'Assist', 'Assist_by']]

In [88]:
makes_final_df.head()

,Time,player_name,player_team,Series Game,Score,quarter,basket_type,short_type,short_range,misses/count
0,11:35.0,G.Antetokounmpo,Milwaukee,5,0-2,1.0,2-pt,dunk,None,makes
1,11:11.0,G.Antetokounmpo,Milwaukee,5,0-3,1.0,free,throw,2,makes
2,8:04.0,G.Antetokounmpo,Milwaukee,5,4-8,1.0,2-pt,layup,1,makes
3,6:56.0,G.Antetokounmpo,Milwaukee,5,7-12,1.0,2-pt,dunk,3,makes
4,3:03.0,G.Antetokounmpo,Milwaukee,5,10-25,1.0,2-pt,layup,2,makes

In [89]:
data_misses = df_game[df_game['Milwaukee'].str.contains('G. Antetokounmpo misses')][['Time', 'Milwaukee', 'Score', 'quarter', 'Series Game']]
data_misses.reset_index(inplace = True, drop = True)
data_misses.head()

,Time,Milwaukee,Score,quarter,Series Game
0,11:11.0,G. Antetokounmpo misses free throw 1 of 2,0-2,1.0,5
1,1:47.0,G. Antetokounmpo misses free throw 1 of 2,13-25,1.0,5
2,1:56.0,G. Antetokounmpo misses 3-pt jump shot from 26 ft,35-53,2.0,5
3,0:56.0,G. Antetokounmpo misses 2-pt layup from 3 ft,67-91,3.0,5
4,0:03.0,G. Antetokounmpo misses 2-pt jump shot from 16 ft,68-91,3.0,5

In [90]:
# creating data for short missies
df_misses = pd.DataFrame(data_misses['Milwaukee'].str.split().tolist(), columns = ['Name1', 'Name2', 'misses/count',
                        'basket_type', 'short_type','Misc1', 'Misc2', 'short_range', 'ft',
                            'Misc3', 'Misc4', 'Def_name_1'])#, 'Def_name_2'])
#
df_misses['player_name'] = df_misses['Name1'] + df_misses['Name2']
# df_misses['Deffender_name'] = df_misses['Def_name_1'] +  df_misses['Def_name_2']
concat_df = pd.concat([data_misses, df_misses], axis = 1)
misses_final_df = concat_df[['Time', 'player_name','Series Game', 'Score','quarter', 'basket_type', 'short_type', 'short_range',
                              'misses/count']]# 'Deffender_name']]
misses_final_df['player_team'] = 'Milwaukee'
makes_misses_df = misses_final_df.append(makes_final_df)
makes_misses_df.reset_index(drop = True, inplace = True)

In [91]:
makes_misses_df.head()

,Time,player_name,Series Game,Score,quarter,basket_type,short_type,short_range,misses/count,player_team
0,11:11.0,G.Antetokounmpo,5,0-2,1.0,free,throw,2,misses,Milwaukee
1,1:47.0,G.Antetokounmpo,5,13-25,1.0,free,throw,2,misses,Milwaukee
2,1:56.0,G.Antetokounmpo,5,35-53,2.0,3-pt,jump,26,misses,Milwaukee
3,0:56.0,G.Antetokounmpo,5,67-91,3.0,2-pt,layup,ft,misses,Milwaukee
4,0:03.0,G.Antetokounmpo,5,68-91,3.0,2-pt,jump,16,misses,Milwaukee

In [92]:
makes_misses_df['Time_dumy'] = pd.to_datetime(makes_misses_df['Time'])

In [93]:
arrange_df = pd.DataFrame()

In [94]:
arrange_df = arrange_df.append(makes_misses_df[makes_misses_df['quarter'] == 1].sort_values(by = 'Time_dumy', ascending = False))
arrange_df = arrange_df.append(makes_misses_df[makes_misses_df['quarter'] == 2].sort_values(by = 'Time_dumy', ascending = False))
arrange_df = arrange_df.append(makes_misses_df[makes_misses_df['quarter'] == 3].sort_values(by = 'Time_dumy', ascending = False))
arrange_df = arrange_df.append(makes_misses_df[makes_misses_df['quarter'] == 4].sort_values(by = 'Time_dumy', ascending = False))

In [95]:
arrange_df.reset_index(drop = True).head()

,Time,player_name,Series Game,Score,quarter,basket_type,short_type,short_range,misses/count,player_team,Time_dumy
0,11:35.0,G.Antetokounmpo,5,0-2,1.0,2-pt,dunk,None,makes,Milwaukee,2022-09-17 11:35:00
1,11:11.0,G.Antetokounmpo,5,0-2,1.0,free,throw,2,misses,Milwaukee,2022-09-17 11:11:00
2,11:11.0,G.Antetokounmpo,5,0-3,1.0,free,throw,2,makes,Milwaukee,2022-09-17 11:11:00
3,8:04.0,G.Antetokounmpo,5,4-8,1.0,2-pt,layup,1,makes,Milwaukee,2022-09-17 08:04:00
4,6:56.0,G.Antetokounmpo,5,7-12,1.0,2-pt,dunk,3,makes,Milwaukee,2022-09-17 06:56:00

In [22]:
# arrange_df

In [23]:
all_games_df = pd.DataFrame()

In [98]:
# all_games_df = all_games_df.append(arrange_df)
all_games_df.reset_index(drop = True, inplace = True)
all_games_df.to_csv('giannis_series_data(buks_vs_bulls)_data.csv', index = False)


# giannis_all_games = giannis_all_games.append(arrange_df)
# giannis_all_games.reset_index(drop = True, inplace = True)
# giannis_all_games.to_csv('giannis_all_games_data.csv', index = False)

In [189]:
# all_games_df['oponent_team'] = 'Jazz'
# all_games_df['oponent_team'].fillna('GSW', inplace = True)

In [97]:
all_games_df['Series Game'].value_counts()

2    38
4    34
1    30
5    29
3    17
Name: Series Game, dtype: int64

In [169]:
# pd.read_csv('tatum_all_games_data.csv')
# all_games_df['oponent_team'] = 'jazz'